.pwd-checker-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;

  }
  .strength-unacceptable::-webkit-progress-value {
    background-color: #e20b07;
  }
  .strength-weak::-webkit-progress-value {
    background-color: #ff7a00;
  }
  .strength-average::-webkit-progress-value {
    background-color: #ebbd04;
  }
  .strength-good::-webkit-progress-value {
    background-color: #0b75ed;
  }
  .strength-strong::-webkit-progress-value {
    background-color: #01a917;
  }
  .pwd-checker-bar::-webkit-progress-bar {
    background-color: rgb(246, 241, 241);   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .pwd-checker-bar::-webkit-progress-value {
    background-size: 30px 18px, 100% 100%, 100% 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }